body {
    background-color: black;
    
}

h1 {
    background-color: black;
    color: red;
    font-family: fantasy, monospace;
    font-size: 200px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1:hover {
    transition: all 1s ease-out;
    background-color: yellow;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    background-color: black;
    
    
    /*transform: translate(-50%, -50%); */
}

label, input {
    font-family: fantasy, monospace;
    font-size: 40px;
    color: greenyellow;
    margin-top: 10%;
  }

  input {
      background-color: grey;
  }